.footer{
    width: 100%;
    height: fit-content;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 40px;
}

.footer-list li a {
    text-decoration: none;
    color: white;
}

.footer-list li {
    transition: transform 0.5s ease;
}

.footer-list li:hover {
    transform: translateY(-15px);
}
