@font-face {
    font-family: 'pixel';
    src: url('font/Retro\ Gaming.ttf') format('truetype');
}

.pix{
    font-family: 'pixel', sans-serif;
}

.fos-1 {
    font-size: 64px;
    font-family: 'pixel';
}

.fos-2 {
    font-family: 'pixel';
    font-size: 54px;
}

.spaceless{
    margin-right: -20px;
}

/* .splash-screen{
    transform: skewX(-0.06turn);
} */

.cross-slash{
    transform: skewX(-0.06turn);
    background-color: black;
}

.content-origin{
    transform: skewX(0.06turn);
}

.image-rounded{
    border: solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.cardbg{
    /* From https://css.glass */
/* From https://css.glass */
    background: rgba(177, 177, 177, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(177, 177, 177, 0.21);
}

#col2{
    background-image: url('../image/gif2.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}